.btn{
    &:link,
    &:visited,
    & {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        outline: none;
        border: none;
    }
    
    &:hover{
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after{
            transform: scalex(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2); 
    }
    
    &--white{
        background-color: $color-white;
        color: $color-grey;

        &::after{
            background-color: $color-white;
        }
    }

    &-primary{
        // background-image: $gradient-1;
        background-color: $color-primary;
        color:#fff;

        &::after{
            // background-image: $gradient-1;
            background-color: $color-primary; 
        }

    }

    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated{
        animation: moveInBottom 1.5s ease-out .4s;
        animation-fill-mode: backwards;
    }

    &-text{

        &:link,
        &:visited{
            color: $color-primary;
            display: inline-block;
            text-decoration: none;
            border-bottom: 2px solid $color-primary;
            padding: 10px;
            font-size: $default-font-size;
            transition: all .5s;
            // font-weight: 700;
        }
        
        &:hover{
            background-color: $color-primary;
            color: $color-white;
            
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            transform: translateY(-4px) scale(1.1);
        }

        &:active{
            transform: translateY(1px);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
    }

    
}
