*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 60.5%; 

    @include respond(tab-land){
        font-size: 54.25%;
    }
    

    @include respond(tab-port){
        font-size: 48%;
    }

    @include respond(big-desktop){
        font-size: 73%;
    }


}

body {
    padding: 2rem;
    box-sizing: border-box;
    
    @include respond(tab-port){
        padding: 0;
    }
}
::selection{
    background-color: $color-primary;
    color: $color-white; 
}


body::-webkit-scrollbar{
    width: 1.3rem;
    border-radius: 20px;

    &-thumb{
        // background: $color-secondary-light;
        background: $gradient-3;
        border-radius: 20px;

        &:hover{
            // background: $color-primary-light;
            background: $color-tertiary-light
        }

        &:active{
            background: $color-tertiary-dark
        }
    }

    &-track{
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.288);
        border-radius: 20px;
        // background: $color-primary
    }
}


